<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Golden State Warriors</title>

  <link rel="stylesheet" href="../../static/css/bootstrap.css">


</head>
<body class="text-center">
	 <br>
	  <nav class="navbar navbar-default">
	    <div class="container-fluid">
	      <ul class="nav navbar-nav">
	        <li><a href={{url_for('index')}}><img class="img-logo" src="../../static/images/basketball.png"></a></li>
        <li><a href={{url_for('PlayersIndex')}}>Players</a></li>
        <li><a href={{url_for('TeamsIndex')}}>Teams</a></li>
        <li><a href={{url_for('CoachesIndex')}}>Coaches</a></li>
        <li><a href={{url_for('about')}}>About</a></li>
	      </ul>
	    </div>
	  </nav>

	
	<h1> Golden State Warriors </h1>
	<br>
	<img class = "img-team" src="https://upload.wikimedia.org/wikipedia/en/thumb/0/01/Golden_State_Warriors_logo.svg/838px-Golden_State_Warriors_logo.svg.png">

	<br><br>

	<p>The Golden State Warriors, as the name implies, are the team of the Bay Area in Northern California. They currently hold the league's record for most wins in a regular season after going 73-9, as well as the most wins in an overall season with 88 wins (including regular and post season). This team also features superstars <a href = "../Players/Stephen_Curry.html">Stephen Curry</a> and <a href = "../Players/Klay_Thompson.html">Klay Thompson</a>, more commonly known as the splash brothers. However, with the recent coming of <a href = "../Players/Kevin_Durant.html">Kevin Durant</a> with the ideology of "If you can't beat 'em, join 'em", the team has a lot riding on this season to go all the way and bring home the championship.</p> 


	<br /><br />

	<center>
		<table class ="table table-focus">
		<tr>
			<th>Founded:</th>
			<td>1946</td>
		</tr>
		<tr>
			<th>Conference:</th>
			<td>Western</td>
		</tr>
		<tr>
			<th>Arena:</th>
			<td>Oracle Arena</td>
		</tr>
		<tr>
			<th>Head Coach:</th>
			<td><a href = "../Coaches/Steve_Kerr.html">Steve Kerr</a></td>
		</tr>
		<tr>
			<th>Location:</th>
			<td>Oakland, CA</td>
		</tr>
		<tr>
			<th>Division:</th>
			<td>Pacific</td>
		</tr>
		</table>
		</center>

</p>

	<br>

	<h3>Championships:</h3>

	<img class="img-thumbnail" src="https://collegesportstown.files.wordpress.com/2013/06/nba-trophy-psd64108.png">
	<img class="img-thumbnail" src="https://collegesportstown.files.wordpress.com/2013/06/nba-trophy-psd64108.png">
	<img class="img-thumbnail" src="https://collegesportstown.files.wordpress.com/2013/06/nba-trophy-psd64108.png">
	<img class="img-thumbnail" src="https://collegesportstown.files.wordpress.com/2013/06/nba-trophy-psd64108.png">

	<br><br>
		<p>NBA Championships: 2015, 1975, 1956, 1947</p>


</body>
</html>


