<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Teams</title>
	<script type = "text/javascript" src = "https://code.jquery.com/jquery-1.12.3.min.js"></script>

	<script type = "text/javascript" src = "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

	<link rel="stylesheet" href="../../static/css/bootstrap.css">

	<script type = "text/javascript">

	$(document).ready(function(){

	$("#dattable").DataTable({
		"lengthMenu": [[2,4,-1],[2,4,"All"]]
	});
	});

	</script>


</head>
<body class="text-center">
	 <br>
	  <nav class="navbar navbar-default">
	    <div class="container-fluid">
	      <ul class="nav navbar-nav">
	        <li><a href={{url_for("index")}}><img class="img-logo" src="../../static/images/basketball.png"></a></li>
	        <li><a href={{url_for("PlayersIndex")}}>Players</a></li>
	        <li><a href={{url_for("TeamsIndex")}}>Teams</a></li>
	        <li><a href={{url_for("CoachesIndex")}}>Coaches</a></li>
	        <li><a href={{url_for("about")}}>About</a></li>
	      </ul>
	    </div>
	  </nav>

	<h1>Teams</h1>
	<br>

	<table class="table table-hover table-bordered" id="dattable">
		<thead>
		<tr>
			<th>Team </th>
			<th>Location</th>
			<th>Coach</th>
			<th>Conference</th>
			<th>Division</th>
			<th>Arena</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><a href = {{url_for("Boston_Celtics")}}> Boston Celtics </a></td>
			<td>Boston, MA</td>
			<td><a href = {{url_for("Brad_Stevens")}}>Brad Stevens</a></td>
			<td>Eastern</td>
			<td>Atlantic</td>
			<td>TD Garden</td>
		</tr>
		<tr>
			<td><a href = {{url_for("Chicago_Bulls")}}> Chicago Bulls </a></td>
			<td>Chicago, IL</td>
			<td><a href = {{url_for("Fred_Hoiberg")}}>Fred Hoiberg</a></td>
			<td>Eastern</td>
			<td>Central</td>
			<td>United Center</td>
		</tr>
		<tr>
			<td><a href = {{url_for("Cleveland_Cavaliers")}}> Cleveland Cavaliers </a></td>
			<td>Chicago, IL</td>
			<td><a href = {{url_for("Tyronn_Lue")}}>Tyronn Lue</a></td>
			<td>Eastern</td>
			<td>Central</td>
			<td>Quicken Loans Arena</td>
		</tr>
		<tr>
			<td><a href = {{url_for("Golden_State_Warriors")}}> Golden State Warriors </a></td>
			<td>Oakland, CA</td>
			<td><a href = {{url_for("Steve_Kerr")}}>Steve Kerr</a></td>
			<td>Western</td>
			<td>Pacific</td>
			<td>Oracle Center</td>
		</tr>
		<tr>
			<td><a href = {{url_for("SA_Spurs")}}> San Antonio Spurs </a></td>
			<td>San Antonio, TX</td>
			<td><a href = {{url_for("Gregg_Popovich")}}>Gregg Popovich</a></td>
			<td>Western</td>
			<td>Southwest</td>
			<td>AT&T Center</td>
		</tr>
		<tr>
			<td><a href = {{url_for("LA_Lakers")}}> Los Angeles Lakers </a></td>
			<td>Los Angeles, CA</td>
			<td><a href = {{url_for("Luke_Walton")}}>Luke Walton</a></td>
			<td>Western</td>
			<td>Pacific</td>
			<td>Staples Center</td>
		</tr>
		</tbody>
	</table>
</body>
</html>