<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Brad Stevens </title>

  <link rel="stylesheet" href="../../static/css/bootstrap.css">


</head>
<body class="text-center">
	 <br>
	  <nav class="navbar navbar-default">
	    <div class="container-fluid">
	      <ul class="nav navbar-nav">
	        <li><a href={{url_for('index')}}><img class="img-logo" src="../../static/images/basketball.png"></a></li>
        <li><a href={{url_for('PlayersIndex')}}>Players</a></li>
        <li><a href={{url_for('TeamsIndex')}}>Teams</a></li>
        <li><a href={{url_for('CoachesIndex')}}>Coaches</a></li>
        <li><a href={{url_for('about')}}>About</a></li>
	      </ul>
	    </div>
	  </nav>
	<h1> Brad Stevens </h1>
	<br>
	<img src="https://cbsboston.files.wordpress.com/2016/03/brad-stevens.jpg?w=628&h=353&crop=1">

	<br /><br>

	<p>Brad Stevens joined the Celtic in 2013 as head coach, right after <a href = {{url_for("Paul_Pierce")}}>Paul Pierce</a> and <a href = {{url_for("Kevin_Garnett")}}>Kevin Garnett</a> got traded to the Nets. Currently, Stevens is coaching <a href = {{url_for("Isaiah_Thomas")}}>Isaiah Thomas</a> and led the <a href = {{url_for("Boston_Celtics")}}>Boston Celtics</a> to the playoffs in 2015. </p>

	<br>

	<p>Interesting fact: Prior to starting with the Celtics, he coached in the NCAA for Butler. In 2010, his third year as head coach for Butler, he broke the record for most wins in a coach’s first three years by 8 wins.  </p>

	<br><br>

	<center>
	<table class ="table table-focus">
	<tr>
		<th>Team:</th>
		<td><a href = {{url_for("Boston_Celtics")}}>Boston Celtics</a></td>
	</tr>
	<tr>
		<th>Coaching Career:</th>
		<td>2001 - Present</td>
	</tr>
	<tr>
		<th>Current Position Start</th>
		<td>2013</td>
	</tr>
	<tr>
		<th>Current Record (NBA)</th>
		<td>113-133</td>
	</tr>
	<tr>
		<th>Last Season Record:</th>
		<td>48-34</td>
	</tr>
	</table>
	</center>

	<br>

	<p><img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Sad_Face_Emoji_large.png?v=1480481055" style="width:30px;height=30px"> = None</p>
	<h3>Championships:</h3>
	<img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Sad_Face_Emoji_large.png?v=1480481055" style="width:80px;height=80px">
	<br><br>

	<p>NBA Championships: N/A</p>

</body>
</html>


