<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Gregg Popovich</title>

  <link rel="stylesheet" href="../../static/css/bootstrap.css">


</head>
<body class="text-center">
	 <br>
	  <nav class="navbar navbar-default">
	    <div class="container-fluid">
	      <ul class="nav navbar-nav">
	        <li><a href={{url_for('index')}}><img class="img-logo" src="../../static/images/basketball.png"></a></li>
        <li><a href={{url_for('PlayersIndex')}}>Players</a></li>
        <li><a href={{url_for('TeamsIndex')}}>Teams</a></li>
        <li><a href={{url_for('CoachesIndex')}}>Coaches</a></li>
        <li><a href={{url_for('about')}}>About</a></li>
	      </ul>
	    </div>
	  </nav>
	
	<h1> Gregg Popovich </h1>
	<br>
	<img class = "img-team" src="http://static5.businessinsider.com/image/56cb227a6e97c62c008b8acb/gregg-popovich-broke-down-what-he-looks-for-in-players-and-it-was-an-inspiring-life-lesson.jpg">

	<br /><br>

	<p>Popovich (Pop) is considered one of the greatest coaches of all time. He brought the Spurs their last championship in 2014. He currently coaches All-Stars <a href = {{url_for("LaMarcus_Aldridge")}}>LaMarcus Aldridge</a>, <a href = {{url_for("Kawhi_Leonard")}}>Kawhi Leonard</a>, and <a href = "../Players/Pau_Gasol.html">Pau Gasol</a>. </p>

	<p>Interesting fact: Coach Pop, as he is commonly referred to, has been coaching since 1996 for the <a href = {{url_for("SA_Spurs")}}>Spurs</a>, and stands to be the longest tenured active coach in the NBA. </p>

	<br>

	<center>
	<table class ="table table-focus">
	<tr>
		<th>Team:</th>
		<td><a href = {{url_for("SA_Spurs")}}>San Antonio Spurs</a></td>
	</tr>
	<tr>
		<th>Coaching Career:</th>
		<td>1996 - Present</td>
	</tr>
	<tr>
		<th>Current Position Start</th>
		<td>1996</td>
	</tr>
	<tr>
		<th>Current Record (NBA)</th>
		<td>1089-485</td>
	</tr>
	<tr>
		<th>Last Season Record:</th>
		<td>67-15</td>
	</tr>
	</table>
	</center>

	<br>

	<h3>Championships:</h3>

	<img class="img-thumbnail" src="https://collegesportstown.files.wordpress.com/2013/06/nba-trophy-psd64108.png">
	<img class="img-thumbnail" src="https://collegesportstown.files.wordpress.com/2013/06/nba-trophy-psd64108.png">
	<img class="img-thumbnail" src="https://collegesportstown.files.wordpress.com/2013/06/nba-trophy-psd64108.png">
	<img class="img-thumbnail" src="https://collegesportstown.files.wordpress.com/2013/06/nba-trophy-psd64108.png">
	<img class="img-thumbnail" src="https://collegesportstown.files.wordpress.com/2013/06/nba-trophy-psd64108.png">

	<br><br>

	<p>NBA Championships: 1999, 2003, 2005, 2007, 2014</p>

</body>
</html>


